# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
*.iml
*.ipr
*.iws

# Log
*.log

# OS
.DS_Store
Thumbs.db

# Kotlin
*.class
*.jar
*.war
*.ear
*.swp

# Android Studio
local.properties

# Misc
*.tmp
*.bak
*.orig
*.rej
